Node-RED/flows.json
[
    {
        "id": "d7fe051a36785b80",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4c545d8b040dc5a",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.1.25",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da7e48168e8b7bb0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a2e10d17d233ac89",
        "type": "ui-base",
        "name": "Charts",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "2448d207ff5f35e9",
        "type": "ui-page",
        "name": "Office",
        "ui": "a2e10d17d233ac89",
        "path": "/Office",
        "icon": "home",
        "layout": "grid",
        "theme": "da7e48168e8b7bb0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "11e5bd4226c99bf4",
        "type": "ui-group",
        "name": "Temperature",
        "page": "2448d207ff5f35e9",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e5431bae42dfc84d",
        "type": "ui-group",
        "name": "Humidity",
        "page": "2448d207ff5f35e9",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "94382d908d5bb9f9",
        "type": "ui-group",
        "name": "Light intensity",
        "page": "2448d207ff5f35e9",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1f0af8bfc44d8252",
        "type": "ui-group",
        "name": "Pressure",
        "page": "2448d207ff5f35e9",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a33ec904cab77df0",
        "type": "mqtt in",
        "z": "d7fe051a36785b80",
        "name": "",
        "topic": "home/office/test",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d4c545d8b040dc5a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "3e5d480e825a5883"
            ]
        ]
    },
    {
        "id": "3e5d480e825a5883",
        "type": "debug",
        "z": "d7fe051a36785b80",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "ab9cd454f35646f6",
        "type": "mqtt in",
        "z": "d7fe051a36785b80",
        "name": "",
        "topic": "home/office/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d4c545d8b040dc5a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 620,
        "wires": [
            [
                "fc8b4ba39222785d"
            ]
        ]
    },
    {
        "id": "fc8b4ba39222785d",
        "type": "debug",
        "z": "d7fe051a36785b80",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "2a8b96afe2992029",
        "type": "mqtt in",
        "z": "d7fe051a36785b80",
        "name": "",
        "topic": "home/office/measurements",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d4c545d8b040dc5a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 700,
        "wires": [
            [
                "a506ad1975e61c6e",
                "aa10c9d61991bea6",
                "d1c2d40d7e6cb384",
                "b9157a7a1dcc1550"
            ]
        ]
    },
    {
        "id": "a506ad1975e61c6e",
        "type": "function",
        "z": "d7fe051a36785b80",
        "name": "Take temperature from JSON",
        "func": "msg.payload = msg.payload.temperature;\nmsg.topic = \"Temperature\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 760,
        "wires": [
            [
                "4f2a87df281eb708"
            ]
        ]
    },
    {
        "id": "4f2a87df281eb708",
        "type": "ui-chart",
        "z": "d7fe051a36785b80",
        "group": "11e5bd4226c99bf4",
        "name": "Temperature Chart",
        "label": "Temperature in the last 24 hours",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1270,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "aa10c9d61991bea6",
        "type": "function",
        "z": "d7fe051a36785b80",
        "name": "Take humidity from JSON",
        "func": "msg.payload = msg.payload.humidity;\nmsg.topic = \"Humidity\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 820,
        "wires": [
            [
                "9b7a2a92ca03ed82"
            ]
        ]
    },
    {
        "id": "9b7a2a92ca03ed82",
        "type": "ui-chart",
        "z": "d7fe051a36785b80",
        "group": "e5431bae42dfc84d",
        "name": "Humidity Chart",
        "label": "Humidity in the last 24 hours",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1260,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "d1c2d40d7e6cb384",
        "type": "function",
        "z": "d7fe051a36785b80",
        "name": "Take light intensity from JSON",
        "func": "msg.payload = msg.payload.light;\nmsg.topic = \"Light\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 700,
        "wires": [
            [
                "d66fbf52f6588ded"
            ]
        ]
    },
    {
        "id": "d66fbf52f6588ded",
        "type": "ui-chart",
        "z": "d7fe051a36785b80",
        "group": "94382d908d5bb9f9",
        "name": "Light intensity Chart",
        "label": "Light intensity in the last 24 hours",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1280,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b9157a7a1dcc1550",
        "type": "function",
        "z": "d7fe051a36785b80",
        "name": "Take pressure from JSON",
        "func": "msg.payload = msg.payload.pressure;\nmsg.topic = \"Pressure\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 880,
        "wires": [
            [
                "8937033d62df2a60"
            ]
        ]
    },
    {
        "id": "8937033d62df2a60",
        "type": "ui-chart",
        "z": "d7fe051a36785b80",
        "group": "1f0af8bfc44d8252",
        "name": "Pressure Chart",
        "label": "Pressure in the last 24 hours",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1260,
        "y": 880,
        "wires": [
            []
        ]
    }
]